:root {
    --background-color: #060608; 
    --background-light: #4a4a48;
    --shadow-color: #444f5a;
    --primary-color:#ff347f;
    --text-color: #fcefed;
    --text-light: #fbf9fa;
    --font-size: 16px;
    --animation-speed: .1;
  }
  
@function getAnimationDuration($duration: number){
    @return calc($duration * var(--animation-speed));
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: var(--font-size);
    font-family: "Jura", serif;
    background-color: var(--background-color);
    font-weight: 200;
    letter-spacing: .02em;
}


a{
    text-decoration: none;
}



.main{
    padding-block:3vw ;
    a{
        color: #fbf9fa;
    }
}
.container{
    // padding-inline: 20vw;
    width: 100%; /* Ocupa toda a largura disponível */
    padding-inline: 0; /* Remove o padding horizontal */
    max-width: 100%;
       }

.navbar.container{
    padding-inline: 20vw;
}
@import "./pages-styles/home.scss";
@import "./pages-styles/slider.scss";
@import "./pages-styles/footer.scss";
@import "./pages-styles/side-bar.scss";
@import "partials/nav-bar.scss";
@import "partials/animations.scss";
@import "./pages-styles/gallery.scss";
@import "./pages-styles/artist-profile.scss";
@import "./pages-styles/subcolecao.scss";

@media screen and (max-width: 768px){
    .navbar{
        .nav-links{
            display: none;
        }
        .sidebar-btn{
            display: block;
        }
    }
}

@media screen and (max-width: 1050px){
    .home{
        .overlay{
           padding-inline: 18vw;
        }
      
    }
}



