
.artist-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.artist-image {
  width: 80%; /* Define a largura como 80% do container pai */
  margin: 50px auto 30px; /* Centraliza horizontalmente (auto) e ajusta margens verticalmente */
  display: flex;
  justify-content: center; /* Centraliza a imagem dentro da div */
}
.artist-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);

}

.about-title h1 {
  font-size: 3.6rem;
  font-weight: 300;
  color: var(--text-color);
  margin-bottom: 20px;
  text-align: center;
}

.text-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 40px; /* Espaçamento entre os containers */
}

.text-block {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 60px; /* Espaçamento entre texto e ícone */
}

.text-block.reverse {
 
  display: flex;
   flex-direction: row-reverse; /* Inverte a ordem para o segundo container */
  align-items: center;
  gap: 60px; /* Espaçamento entre texto e ícone */
  background-color: var(--background-color);
  p{
    color: var(--text-color);
  }
}

.text-content {
  flex: 1; /* Ocupa o espaço restante */
  padding: 40px;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  p{
    color: var(--text-color);
    font-size: 1.5rem;
  }
}

.icon-container {
  flex-shrink: 0; /* Impede que o ícone diminua */
  font-size: 17em;
  color: rgba(255, 52, 127, 0.4);
}

.icon {
  transition: transform 0.4s ease-in;
}

.icon:hover {
  transform: scale(1.2);
}

.quote-icon {
  font-size: 2.9rem;
  color: var(--primary-color);
  margin-right: 10px;
  vertical-align: middle;
}




/* ... (seu CSS existente) ... */

@media screen and (max-width: 768px) {
  .artist-image img {
    width: 95%;
  }

  .text-block {
    flex-direction: column;
    gap: 10px;
  }

  .text-block.reverse {
    flex-direction: column;
  }

  .icon-container {
    font-size: 10em; /* Ajuste menor para o ícone (era 25em) */
  }

  /* --- Correções para fontes --- */
  .about-title h1 {
    font-size: 2.5rem; /* Sobrescreve a regra específica do h1 */
  }

  .text-content p {
    font-size: 1.5rem; /* Sobrescreve a regra específica do p */
  }

  .quote-icon {
    font-size: 2.2rem; /* Reduz o tamanho das aspas */
  }
}

@media screen and (max-width: 480px) {
  .artist-image img {
    width: 100%;
  }

  .icon-container {
    font-size: 5em;
  }

  /* --- Correções para fontes --- */
  .about-title h1 {
    font-size: 2rem;
  }

  .text-content p {
    font-size: 0.9rem;
  }

  .quote-icon {
    font-size: 1.8rem;
  }
}