// .artist-container {
//     max-width: 100%;
//     margin: 0 auto;
//     padding: 50px 5vw;
//     text-align: center;
//     background-color: var(--background-color);
//     display: flex;
//     flex-direction: row;
//     // align-items: center;
//     // justify-content: center;
//     width: 100%;
//     height: 100%;
//   }
  
//   .artist-header h1 {
//     font-size: 2rem;
//     color: var(--text-color);
//     margin-bottom: 10px;
    
    
//   }
  
//   .artist-header p {
//     width: 20vw;
//     height: 100%;
//     font-size: .8em;
//     color: var(--text-light);
//     margin-right: 5vw;
//     margin-top: 0;
//     letter-spacing: .4rem;
//     text-align:start;
//     // margin-bottom: 30px;
//   }
  
//   .artist-content {
//    justify-content: right;
//    margin-left: 1vw;
   
   
//   }
  
//   .artist-image img {
//     width: 100%;
//     height: 100%;
//     // max-width: 600px;
//     // border-radius: 10px;
//     box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
//   }
  
//   .artist-text {
//     max-width: 800px;
//     margin-top: 20px;
//     font-size: .1em;
//     color: var(--text-light);;
//     text-align: justify;
//   }
  

// @media screen and (max-width: 768px) {
//     .artist-header p {
//       width: 80%;
//       font-size: 1.4rem;
//     }
    
//     .artist-image img {
//       width: 100%;
//       max-width: 100%;
//     }
//   }
  
 /// 09/03
 


// .artist-container {
//   max-width: 1170px;
//   margin: 0 auto;
//   padding: 50px 20px;
//   background-color: var(--background-color);
//   display: flex;
//   flex-direction: row;
//   align-items: flex-start;
//   justify-content: space-between;
//   width: 100%;
//   height: 100%;
// }

// .artist-header {
//   flex: 1;
//   margin-right: 5vw;
// }

// .artist-header h1 {
//   font-size: 2rem;
//   color: var(--text-color);
//   margin-bottom: 20px;
// }

// .artist-header p {
//   font-size: 1rem;
//   color: var(--text-light);
//   line-height: 1.6;
//   text-align: justify;
// }

// .artist-content {
//   flex: 1;
//   margin-left: 5vw;
// }

// .artist-image img {
//   width: 100%;
//   height: auto;
//   max-width: 600px;
//   border-radius: 10px;
//   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
// }

// @media screen and (max-width: 768px) {
//   .artist-container {
//     flex-direction: column;
//     align-items: center;
//     text-align: center;
//   }

//   .artist-header {
//     margin-right: 0;
//     margin-bottom: 30px;
//   }

//   .artist-header p {
//     width: 100%;
//     font-size: 1rem;
//     text-align: justify;
//   }

//   .artist-content {
//     margin-left: 0;
//   }

//   .artist-image img {
//     width: 100%;
//     max-width: 100%;
//   }
// }


.artist-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 20px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.artist-image img {
  min-width: 70%;
  max-width: 75%;
  height: auto;
  // border-radius: 1px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  margin-top: 0;
}

.artist-header {
  width: 80%;
  margin-top: 8px;
  text-align: center;
  
}

.artist-header h1 {
  font-size: 2rem;
  color: var(--text-color);
  margin-bottom: 20px;
}

.artist-header p {
  font-size: .8rem;
  color: var(--text-light);
  line-height: 1.6;
  text-align: justify;
}


.artist-header {
  width: 80%;
}



.text-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  .text-block-left{
    // min-width: 30vw;
    // align-items: self-start;
    // margin-bottom: 2px;
    // margin-right: 50%;
    position: relative; /* Ensure the icon is positioned relative to this container */
    min-width: 30vw;
    align-items: self-start;
    margin-bottom: 2px;
    margin-right: 50%;
  }



  .icon-container {
    position: absolute; /* Position the icon absolutely within the text block */
    right: -30vw; /* Adjust this value to position the icon to the left of the text */
    top: 16vh; /* Align the icon to the top */
  }
  
  .icon-left {
    font-size: 12em; /* Adjust the size of the icon */
    color: rgba(255, 52, 127, 0.4) /* Adjust the color of the icon */
  }


  .icon-left:hover{
    transition: transform .4s ease-in;
    transform: scale(1.2);
  }



  .text-block-right{
    
  //   min-width: 30vw;
  // margin-left: 50%;
  position: relative; /* Ensure the icon is positioned relative to this container */
  min-width: 30vw;
  align-items: self-start;
  margin-bottom: 2px;
  margin-left: 50%;
  }
}

.icon-container-right {
  position: absolute; /* Position the icon absolutely within the text block */
  left: -30vw; /* Adjust this value to position the icon to the left of the text */
  top: 8vh; /* Align the icon to the top */
}

.icon-right {
  font-size: 12em; /* Adjust the size of the icon */
  color: rgba(255, 52, 127, 0.4) /* Adjust the color of the icon */
}

.icon-right:hover{
  transition: transform .4s ease-in;
  transform: scale(1.2);
}


@media screen and (max-width: 768px) {
  .artist-image img {
    width: 50vw;
  }

 

  .artist-header h1 {
    font-size: 1.8rem;
  }

  .artist-header p {
    font-size: 0.9rem;
  }
}


.about-title{
  display: flex;

}

.quote-icon{
  font-size: 2rem;
  color: var(--primary-color);
  margin-right: 10px;
  vertical-align: middle;
}




.line {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 100%;
  height: .05em;
  background: linear-gradient(
    to right,
    transparent 8%,
    rgba(255, 255, 255, 0.1) 8%,
    rgba(255, 255, 255, 0.1)  50%,
    transparent  18%,
    transparent  19%,
    rgba(255, 255, 255, 0.1) 20%,
    rgba(255, 255, 255, 0.1) 32%,
    transparent  32%,
    transparent  48%,
    rgba(255, 255, 255, 0.1)  20%,
    rgba(255, 255, 255, 0.1)  55%,
    transparent  46%,
    transparent  54%,
    rgba(255, 255, 255, 0.1)  54%,
    rgba(255, 255, 255, 0.1) 80%,
    transparent  70%,
    transparent  79%,
    rgba(255, 255, 255, 0.1)  80%,
    rgba(255, 255, 255, 0.1)  93%,
    transparent 90%
  );
  position: relative;
}




.icon {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.1em;
  color: rgba(255, 52, 127, 0.4);
  background-color: var(--background-color); /* Fundo para cobrir a linha */
  padding: 5px; /* Espaçamento ao redor do ícone */
  border-radius: 50%; /* Para ícones circulares */
}


